:root {
    --primary-color: #434455;
    --title-color: #2E2F42;
    --site-nav-color-item: #2E2F42;
    --primary-button-bg: #F4F4FD;
    --primary-button-color: #4D5AE5;
    --primary-button-bg-hover: #404BBF;
    --primary-button-color-hover: #FFFFFF;
}



/* Палитра
текс #434455
заголовок #2E2F42
фон #2E2F42
акцент #4D5AE5
*/

/* Шрифты
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* General */
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: var(--primary-color);

  
}

img {
    display: block;
}
 .list {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 
/* Шрифты */
/* h1 */
.title-biggest {
    line-height: 1.07;
    font-size: 56px;
}

/* h2 */
.title-big {
    line-height: 1.11;
    font-size: 36px;
}
/* Body medium */

.title-body-medium {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
}
/* h3 */
.title-med {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
}


/* text */

.title-body {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

/* Button font */

.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
}



.link {
    text-decoration: none;
}






.button {
    background: var(--primary-button-bg);
    color: var(--primary-button-color);
    height: 48px;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    background: var(--primary-button-bg-hover);
    color: var(--primary-button-color-hover);
}


.container {
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
   
}





/* Header */
.header {
    border-bottom: 1px solid #e7e9fc
    
}


    .header-container {
        display: flex;
        align-items: center;

    }
    /* Nav */
        /* Site navigation */

        .site-navigation {
            display: flex;
            align-items: center;
        }
        /* Logo */
        .logo {
            font-family: 'Raleway', sans-serif;
                letter-spacing: 0.03em;
                font-size: 18px;
                line-height: 1.17;
                font-weight: 800;
                text-transform: uppercase;
                color: #4D5AE5;
                margin-right: 76px
                

              
               
                
        }
        .logo-web-header {
        color: #4D5AE5;
        text-decoration-line: none;
        }
        .logo-web-header:active,
        .logo-web-header:visited,
        .logo-web-header:focus {
            color: #4D5AE5;
        }

        .logo-studio-header {
        color: #2E2F42;
        text-decoration-line: none;
        }
        .logo-studio-header:visited{
        color:#2E2F42
        }

        /* Site nav */

        .site-nav {
           
            display: flex;
            gap: 40px;
            
        }
       
        .site-nav-link {
            padding: 24px 0 24px 0;
        }
        .site-nav .site-nav-item:last-child{
            margin-right: 0;
        }



      

        
       
          
        
        .site-nav .link {
            display: block;
        color: var(--site-nav-color-item);
        }
        .site-nav .link:active,
        .site-nav .link:hover,
        .site-nav .link:focus {
            color: #404BBF;
        }

        .site-nav .link {
            text-decoration-line: none;
           
        }


      
       

      

       
       

    /* Adress */


    .adress-main {
        display: flex;
        margin-left: auto;
    }
    .adress-container {
       
        font-style: normal;
       

    }

         .adress {
             display: flex;
             color: var(--primary-color);
             text-decoration-line: none;
         }
    .adress {
        gap: 40px;
        list-style: none;
        
    }
    .adress .link:active,
    .adress .link:hover,
    .adress .link:focus {
        color: #404BBF;
    }

   



    


    /* Main page */


    /* Hero */
    .hero {
        background: #2E2F42;
        margin-top: 0;
        margin-bottom: 0;
        padding: 188px 0 188px 0;
       
        text-align: center;
    }
     
        .hero .container {
      
      text-align: center;
     
        }
    
/* Hero title */


    .hero-title {
        color: #FFFFFF;
        max-width: 496px;
        letter-spacing: 0.02em;
       
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Hero button */
    .hero-button {
        font-family: 'Roboto', sans-serif;
        background: #4D5AE5;
        color: #FFFFFF;
        height: 56px;
        border-radius: 4px;
        padding: 16px 32px;
        display: block;
        text-align: center;
        margin: 48px auto 0 auto;
        min-width: 169px;
        border: none;
            }

    .button.hero-button:hover,
    .button.hero-button:focus,
    .button.hero-button:active {
        background: #404BBF;
    }


    /* Feature */

      .list {
        list-style: none;
      }
        
      .section-feature{
        margin-top: 0;
        padding: 120px 0 120px 0;

      }
    
    /* Feature title */
    .feature-main-title {
        color: var(--title-color);
        margin-bottom: 8px;
        letter-spacing: 0.02em;

    }

    .feature-title {
        margin-bottom: 8px;
        margin-top: 0;
       
    }
    /* Feature list */
    .feature-list {
        display: flex;
        gap: 24px;
       
    }

    
/* Feature items */
    

    .feature-list-item {
        width: calc((100% - 72px) / 4);
    }
    .feature-container-text {
        margin: 0;
    }

    /* What are we doing */
    /* Whar are we doing title */
    .section-title {
        color: var(--title-color);
    }

   
    .title-doing {
        text-align: center;
        text-transform: capitalize;
        margin: 0 0 72px 0;
    }


    /* Doing list */
    .doing {
        padding-bottom: 120px;
    }
    .doing-list {
        display: flex;
        gap: 24px;
    }
   
    .doing-list .doing-item {
        margin: 0;
    }
    /* Our team */

    .our-team {
        background: #F4F4FD;
        padding-bottom: 120px;
    }
/* Our team title */
   
    .section.our-team {
        padding: 120px 0 120px 0;
    }

    .title-team {
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .title-med {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .title-body {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-color);
    }
    /* Team - list */
    .team-list {
        display: flex;
        gap: 24px;
    }

    
  

    .info-member {
        padding: 32px 16px;
        border-radius: 0px 0px 4px 4px;
    }
    .name-team {
        text-align: center;
        margin-bottom: 8px;
        margin-top: 0;
        
    }
    .team-part {
        background-color: #FFFFFF;
        text-align: center;
        width: calc((100% - 72px) / 4);
    }
/* Team information */
    .team-profession {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-top: 8px;
        text-align: center;
        margin: 0;
    }

    






    /* Footer */
    .footer{
        background: #2E2F42;
        height: 312px;
        padding: 100px 0 100px 0;
    }
    
    .logo-footer {
        display: inline-block;
    }


    /* Logo */
   

    .logo-footer {
        margin-bottom: 16px;
    }
    .logo-studio-footer {
        color: #f4f4fd;
        text-decoration-line: none;
    }

    .logo-studio-footer:visited {
        color: #f4f4fd;
    }
    .logo-web-footer {
        text-decoration-line: none;
    }
    .logo-web-footer:active,
    .logo-web-footer:visited,
    .logo-web-footer:focus {
        color: #4D5AE5;
    }


    /* Text */
    .footer-text {
        color: #E7E9FC;
        margin: 0;
       
    }









    /* Portfolio */

    .portfolio-main {
        padding-top: 96px;
        padding-bottom: 120px;
    }

        /* Filters */
        .container-filter {
            text-align: center;
         
        }
        
    
        .filter-list {
        list-style: none;
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 72px;
        }

       


        .filter-button {
            font-family: 'Roboto', sans-serif;
            border-radius: 4px;
            padding: 12px 24px;
            border: 1px solid #e7e9fc;
          
        }

        .filter-button:hover,
        .filter-button:focus {
            border: 1px solid transparent;
        }
        /* Content */

     .container-content-info {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
     }
      
        
        
       
        .content-list{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            row-gap: 48px;
            column-gap: 24px;
            
        }

        .content-list-item {
            width: calc((100% - 48px) / 3);
        }

        
        .content-list-title {
            color: var(--title-color);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
            margin-top: 0;
        }

        .content-list-text {
            display: inline-block;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-color);
            margin: 0;
          
          
            
        }

        .filter-button{
            font-family: 'Roboto', sans-serif;
            display: inline-block;
        }

        


        

        

       